.topo-1, 
.topo-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 935px;
    height: 54px;

    border-bottom: #DBDBDB 1px solid;
    background-color: white;

    padding-left: calc( ( 100vw - 935px ) / 2 );
    padding-right: calc( ( 100vw - 935px ) / 2 );

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.topo-2,
.base {
    display: none;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 145px;
}

ion-icon {
    font-size: 19.25px;
    color: black;
}

.liked {
    color: rgb(238, 37, 37);
    font-size: 20px;
}

.barra-vertical {
    height: 22px;
    border: 1px solid #DBDBDB;
    margin: 0;
}

.logo img {
    height: auto;
    width: 103px;
}

.barra-pesquisa{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;
}

.barra-pesquisa p {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

    color: #979797;

    Line-height: 14px 100%;
    box-Align: Center;
    vertical-align: Center;

}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 146px;
    height: auto;
}

/* */

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: auto;
    padding-top: 88px;

    background-color: #FAFAFA;
}

/* */

.lado-esquerdo{
    width: 612px;
    height: auto;
    margin-right: 30px;
}

.stories{
    width: 100%;
    height: 118px;
    
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* controlar vazamento dos stories */

    overflow: hidden;
    /* overflow-x: scroll; */

    /* opcao para posicao botao */
    position: relative;
}

.botao {
    position: absolute;
    left: 579px;
    /* background-color: rgba(255, 255, 255, 0.15); */
}

.botao ion-icon {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.92);
    filter: drop-shadow(-3px 2px 4px rgba(100, 100, 100, 1));
}

.stories .story:nth-child(1){
    margin-left: 18px;
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-right: 14px;
}

.story p{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

    color: #262626;

    Line-height: 14px 100%;
    box-Align: Center;
    Vertical-align: Center;

}

.box-image{
    width: 66px;
    height: 66px;
    background-image: url('files/stories_background.jpg');
    background-size: 66px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1px;

    border-radius: 33px;
}

.story img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.feed{
    width: 100%;
    height: auto ;

    margin-top: 24px;
}

.publicacao
{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color: white;
}

/* .feed .publicacao:last-child {
    margin-bottom: 0px;
} */

.barra-perfil{
    width: 100%;
    height: 61px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-perfil ion-icon {
    font-size: 19.25px;
    color: #262626;
    margin-right: 18.5px;
}

.usuario-publicacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 17px;
}

.usuario-publicacao img { 
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 15px;
}

.usuario-publicacao p { 
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #262626;

    Line-height: 16px 100%;
    box-Align: Left;
    Vertical-align: Center;

}

.publicacao > img{ /*foto grande publicada*/
    width: 100%;
    height: auto;
}

.acoes{
    width: 100%;
    height: 76px;
}

.icones-publicacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13.44px;
    margin-left: 17.75px;
    margin-right: 17.62px;
    margin-bottom: 13.44px;
}

.icones-esquerda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.81px;
    height: auto;
}

.info-curtidas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 17px;
}

.info-curtidas img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.info-curtidas p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color:  #000000;

    Line-height: 16px 100%;
    box-Align: Left;
    Vertical-align: Center;

}

.info-curtidas p strong {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color:  black;

    Line-height: 16px 100%;
    box-Align: Left;
    Vertical-align: Center;
}


/* */

.lado-direito{

    width: 293px;
}

.dono-perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 23px;   
}

.dono-perfil img {
    width: 56px;
    height: 56px;
    margin-right: 17px;
    border-radius: 28px;
}

.dono-nomes p:nth-child(1) {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500 ;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    Line-height: 16px  100%;
    box-Align: Left;
    Vertical-align: Center;
}

.dono-nomes p:nth-child(2) {

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #8E8E8E;

    Line-height: 16px  100%;
    box-Align: Left;
    Vertical-align: Center;
}


.sugestoes-box {
    width: 100%;
    margin-top: 24px;
}

.titulo-sugestoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}


.titulo-sugestoes p:nth-child(1) {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

    color: #8E8E8E;

    Line-height: 14px  100%;
    box-Align: Left;
    Vertical-align: Center;
}

.titulo-sugestoes p:nth-child(2) {

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;


    color: #262626;

    Line-height: 14px  100%;
    box-Align: Right;
    Vertical-align: Center;
}

.perfil-sugerido {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;
}

.perfil-sugerido .perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.perfil-sugerido .perfil img {
    width: 32px;
    height: 32px;

    margin-right: 11px;
    border-radius: 16px;
}



.usuario p:nth-child(1) {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    color: #262626;

    Line-height: 16px  100%;
    box-Align: Left;
    Vertical-align: Center;
}

.usuario p:nth-child(2) {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

    color: #8E8E8E;

    Line-height: 14px  100%;
    box-Align: Left;
    Vertical-align: Center;
}

.perfil-sugerido > p {

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;

    color: #139EF2;

    Line-height: 14px  100%;
    box-Align: Right;
    Vertical-align: Center;
}


.copyright-box {
    margin-top: 33px;
}

.copyright-box p {
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

    color: #C7C7C7;

    Line-height: 13px 100%;
    box-Align: Left;
    Vertical-align: Center;

    margin-bottom: 18px;

}


/*  */
/* bonus: fixar a barra lateral */
/*  */

.topo-1 {
    z-index: 1;
}

.topo-2 {
    z-index: 2;
}

.conteudo {
    z-index: 3;
}

.lado-esquerdo {
    transform: translateX(-161.5px);
}

.lado-direito {
    position: fixed;
    transform: translateX(321px);
}

/* para os videos */

video {
    width: 100%;
    height: auto;
}

/*  */
/* bonus: caixa de comentarios */
/* */

.caixa-comentarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 5px;
}


.caixa-comentarios p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color:  #000000;

    Line-height: 16px 100%;
    box-Align: Left;
    Vertical-align: Center;
}

.caixa-comentarios p strong:first-child {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color:  black;

    Line-height: 16px 100%;
    box-Align: Left;
    Vertical-align: Center;
    margin-right: 5px;
}

.caixa-comentarios p strong {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color:  rgb(22, 22, 233);

    Line-height: 16px 100%;
    box-Align: Left;
    Vertical-align: Center;
}

/*  */
/* bonus: deixar comentario */
/*  */

.escrever-comentario {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 17px;
    margin-right: 17px;
    
    margin-top: 12px;
    margin-bottom: 12px;

    border-top: #DBDBDB 1px solid;
    padding-top: 7px;

}

.cara-texto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cara-texto ion-icon {
    font-size: 16;
    margin-right: 15px;
}

.cara-texto input {

    width: 250px;
    padding: 5px 5px;

    border: 1px solid lightgrey;
    border-radius: 4px;
    border: none;


    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

    color: #979797;

    Line-height: 14px 100%;
    box-Align: Center;
    vertical-align: Center;
}

.escrever-comentario > p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

    color: #B2DFFC;

    Line-height: 14px 100%;
    box-Align: Center;
    vertical-align: Center;
}

.escrever-comentario > p:hover {
    color: #0095F6 ;
    cursor: pointer;
    transition: 300ms;
}